In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/shark-tank-india-dataset/Shark Tank India Dataset.csv

# Combining Datasets : Concat and Append
Some of the most interesting studies of data come from combining different data sources.
These operations can involve anything from very straightforward concatenation of two different datasets, to more complicated database-style joins and merges that correctly handle any overlaps between the datasets.
``Series`` and ``DataFrame``s are built with this type of operation in mind, and Pandas includes functions and methods that make this sort of data wrangling fast and straightforward.

Here we'll take a look at simple concatenation of ``Series`` and ``DataFrame``s with the ``pd.concat`` and ``pd.append`` functions; later we'll dive into more sophisticated in-memory merges and joins implemented in Pandas.

In [2]:
df1 = {'one' : pd.Series([10, 20, 30, 40],
                       index =['a', 'b', 'c', 'd']),
      'two' : pd.Series([10, 20, 30, 40],
                        index =['a', 'b', 'c', 'd'])}

In [3]:
df2 = {'one' : pd.Series([50, 60, 70, 80],
                       index =['e', 'f', 'g', 'h']),
      'two' : pd.Series([50, 60, 70, 80],
                       index =['e', 'f', 'g', 'h'])}

In [4]:
df1 = pd.DataFrame(df1)

In [5]:
df2 = pd.DataFrame(df2)

In [6]:
df1

   one  two
a   10   10
b   20   20
c   30   30
d   40   40

In [7]:
df2

   one  two
e   50   50
f   60   60
g   70   70
h   80   80

In [8]:
df1.append(df2)

   one  two
a   10   10
b   20   20
c   30   30
d   40   40
e   50   50
f   60   60
g   70   70
h   80   80

In [9]:
frames=[df1,df2]

In [10]:
df1

   one  two
a   10   10
b   20   20
c   30   30
d   40   40

In [11]:
df2

   one  two
e   50   50
f   60   60
g   70   70
h   80   80

In [12]:
pd.concat(frames)

   one  two
a   10   10
b   20   20
c   30   30
d   40   40
e   50   50
f   60   60
g   70   70
h   80   80

## Performance: Which is faster pandas concat or append?
Well, both are almost equally faster.
However there will be a slight change depending on the data.<br>
* Append function will add rows of second data frame to first dataframe iteratively one by one. Concat function will do a single operation to finish the job, which makes it faster than append().<br>
* As append will add rows one by one, if the dataframe is significantly very small, then append operation is fine as only a few appends will be done for the number of rows in second dataframe.<br>
* Append function will create a new resultant dataframe instead of modifying the existing one. Due to this buffering and creating process, Append operationâ€™s performance is less than concat() function. 

**However Append() is fine if the number of append operation is a very few. If there are a multiple append operations needed, it is better to use concat()**