# Difference between Inner and Outer Joins
The biggest difference between an INNER JOIN and an OUTER JOIN is that the inner join will keep only the information from both tables that's related to each other (in the resulting table). An Outer Join, on the other hand, will also keep information that is not related to the other table in the resulting table.

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/olympic-games/dictionary.csv
/kaggle/input/olympic-games/winter.csv
/kaggle/input/olympic-games/summer.csv

### Note
For these operations we are using a data [Click Here](https://www.kaggle.com/datasets/the-guardian/olympic-games) to access the Dataset

In [2]:
winter=pd.read_csv("../input/olympic-games/winter.csv",usecols=["Athlete","Medal"])

In [3]:
summer=pd.read_csv("../input/olympic-games/summer.csv",usecols=["Athlete","Medal"])

In [4]:
winter

                   Athlete   Medal
0              BERTHET, G.  Bronze
1           MANDRILLON, C.  Bronze
2      MANDRILLON, Maurice  Bronze
3          VANDELLE, André  Bronze
4     AUFDENBLATTEN, Adolf    Gold
...                    ...     ...
5765          JONES, Jenny  Bronze
5766       ANDERSON, Jamie    Gold
5767    MALTAIS, Dominique  Silver
5768          SAMKOVA, Eva    Gold
5769      TRESPEUCH, Chloe  Bronze

[5770 rows x 2 columns]

In [5]:
summer

                         Athlete   Medal
0                  HAJOS, Alfred    Gold
1               HERSCHMANN, Otto  Silver
2              DRIVAS, Dimitrios  Bronze
3             MALOKINIS, Ioannis    Gold
4             CHASAPIS, Spiridon  Silver
...                          ...     ...
31160         JANIKOWSKI, Damian  Bronze
31161  REZAEI, Ghasem Gholamreza    Gold
31162             TOTROV, Rustam  Silver
31163          ALEKSANYAN, Artur  Bronze
31164             LIDBERG, Jimmy  Bronze

[31165 rows x 2 columns]

36935 rows × 9 columns

![m](https://i.redd.it/dyqnzpuddxk21.png)

In [6]:
len(summer)

31165

In [7]:
len(winter)

5770

In [8]:
len(summer)+len(winter)

36935

In [9]:
winter.merge(summer,how="inner",on="Athlete")

                   Athlete Medal_x Medal_y
0           ANDRE, Georges  Bronze  Silver
1           ANDRE, Georges  Bronze  Bronze
2        ANDERSON, William  Bronze  Bronze
3   SYNNOTT, Francis Allen  Silver  Silver
4        GRAFSTRÖM, Gillis    Gold    Gold
..                     ...     ...     ...
65         IVANOV, Mikhail    Gold    Gold
66         IVANOV, Mikhail    Gold  Bronze
67              ZHANG, Hui    Gold  Bronze
68        WILLIAMS, Lauryn  Silver  Silver
69        WILLIAMS, Lauryn  Silver    Gold

[70 rows x 3 columns]

In [10]:
winter.merge(summer,how="outer",on="Athlete")

                         Athlete Medal_x Medal_y
0                    BERTHET, G.  Bronze     NaN
1                 MANDRILLON, C.  Bronze     NaN
2            MANDRILLON, Maurice  Bronze     NaN
3                VANDELLE, André  Bronze     NaN
4           AUFDENBLATTEN, Adolf    Gold     NaN
...                          ...     ...     ...
36912         JANIKOWSKI, Damian     NaN  Bronze
36913  REZAEI, Ghasem Gholamreza     NaN    Gold
36914             TOTROV, Rustam     NaN  Silver
36915          ALEKSANYAN, Artur     NaN  Bronze
36916             LIDBERG, Jimmy     NaN  Bronze

[36917 rows x 3 columns]

In [11]:
winter.merge(summer,how="outer",on="Athlete",suffixes=("_Winter","_Summer"))

                         Athlete Medal_Winter Medal_Summer
0                    BERTHET, G.       Bronze          NaN
1                 MANDRILLON, C.       Bronze          NaN
2            MANDRILLON, Maurice       Bronze          NaN
3                VANDELLE, André       Bronze          NaN
4           AUFDENBLATTEN, Adolf         Gold          NaN
...                          ...          ...          ...
36912         JANIKOWSKI, Damian          NaN       Bronze
36913  REZAEI, Ghasem Gholamreza          NaN         Gold
36914             TOTROV, Rustam          NaN       Silver
36915          ALEKSANYAN, Artur          NaN       Bronze
36916             LIDBERG, Jimmy          NaN       Bronze

[36917 rows x 3 columns]

In [12]:
winter.merge(summer,how="outer",on="Athlete",suffixes=("_Winter","_Summer"),indicator=True)

                         Athlete Medal_Winter Medal_Summer      _merge
0                    BERTHET, G.       Bronze          NaN   left_only
1                 MANDRILLON, C.       Bronze          NaN   left_only
2            MANDRILLON, Maurice       Bronze          NaN   left_only
3                VANDELLE, André       Bronze          NaN   left_only
4           AUFDENBLATTEN, Adolf         Gold          NaN   left_only
...                          ...          ...          ...         ...
36912         JANIKOWSKI, Damian          NaN       Bronze  right_only
36913  REZAEI, Ghasem Gholamreza          NaN         Gold  right_only
36914             TOTROV, Rustam          NaN       Silver  right_only
36915          ALEKSANYAN, Artur          NaN       Bronze  right_only
36916             LIDBERG, Jimmy          NaN       Bronze  right_only

[36917 rows x 4 columns]

In [13]:
final = winter.merge(summer,how="outer",on="Athlete",suffixes=("_Winter","_Summer"),indicator=True)

In [14]:
final._merge.value_counts()

right_only    31130
left_only      5717
both             70
Name: _merge, dtype: int64