In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/olympic-games/dictionary.csv
/kaggle/input/olympic-games/winter.csv
/kaggle/input/olympic-games/summer.csv

# Left & Right Joins excluding intersection

![m](https://i.redd.it/dyqnzpuddxk21.png)

In [2]:
winter=pd.read_csv("../input/olympic-games/winter.csv",usecols=["Athlete","Medal"])

In [3]:
summer=pd.read_csv("../input/olympic-games/summer.csv",usecols=["Athlete","Medal"])

In [4]:
left=winter.merge(summer,how="left",on="Athlete",suffixes=("_Winter","_Summer"),indicator=True)

In [5]:
left

                   Athlete Medal_Winter Medal_Summer     _merge
0              BERTHET, G.       Bronze          NaN  left_only
1           MANDRILLON, C.       Bronze          NaN  left_only
2      MANDRILLON, Maurice       Bronze          NaN  left_only
3          VANDELLE, André       Bronze          NaN  left_only
4     AUFDENBLATTEN, Adolf         Gold          NaN  left_only
...                    ...          ...          ...        ...
5782          JONES, Jenny       Bronze          NaN  left_only
5783       ANDERSON, Jamie         Gold          NaN  left_only
5784    MALTAIS, Dominique       Silver          NaN  left_only
5785          SAMKOVA, Eva         Gold          NaN  left_only
5786      TRESPEUCH, Chloe       Bronze          NaN  left_only

[5787 rows x 4 columns]

In [6]:
left._merge.value_counts()

left_only     5717
both            70
right_only       0
Name: _merge, dtype: int64

In [7]:
left[left["_merge"]=="both"]

                     Athlete Medal_Winter Medal_Summer _merge
26            ANDRE, Georges       Bronze       Silver   both
27            ANDRE, Georges       Bronze       Bronze   both
48         ANDERSON, William       Bronze       Bronze   both
78    SYNNOTT, Francis Allen       Silver       Silver   both
80         GRAFSTRÖM, Gillis         Gold         Gold   both
...                      ...          ...          ...    ...
4933              ZHANG, Hui         Gold       Bronze   both
4981           HUGHES, Clara       Bronze       Bronze   both
4982           HUGHES, Clara       Bronze       Bronze   both
5257        WILLIAMS, Lauryn       Silver       Silver   both
5258        WILLIAMS, Lauryn       Silver         Gold   both

[70 rows x 4 columns]

In [8]:
left[left["_merge"]!="both"]

                   Athlete Medal_Winter Medal_Summer     _merge
0              BERTHET, G.       Bronze          NaN  left_only
1           MANDRILLON, C.       Bronze          NaN  left_only
2      MANDRILLON, Maurice       Bronze          NaN  left_only
3          VANDELLE, André       Bronze          NaN  left_only
4     AUFDENBLATTEN, Adolf         Gold          NaN  left_only
...                    ...          ...          ...        ...
5782          JONES, Jenny       Bronze          NaN  left_only
5783       ANDERSON, Jamie         Gold          NaN  left_only
5784    MALTAIS, Dominique       Silver          NaN  left_only
5785          SAMKOVA, Eva         Gold          NaN  left_only
5786      TRESPEUCH, Chloe       Bronze          NaN  left_only

[5717 rows x 4 columns]

In [9]:
right=winter.merge(summer,how="right",on="Athlete",suffixes=("_Winter","_Summer"),indicator=True)

In [10]:
right._merge.value_counts()

right_only    31130
both             70
left_only         0
Name: _merge, dtype: int64

In [11]:
left[left["_merge"]=="both"]

                     Athlete Medal_Winter Medal_Summer _merge
26            ANDRE, Georges       Bronze       Silver   both
27            ANDRE, Georges       Bronze       Bronze   both
48         ANDERSON, William       Bronze       Bronze   both
78    SYNNOTT, Francis Allen       Silver       Silver   both
80         GRAFSTRÖM, Gillis         Gold         Gold   both
...                      ...          ...          ...    ...
4933              ZHANG, Hui         Gold       Bronze   both
4981           HUGHES, Clara       Bronze       Bronze   both
4982           HUGHES, Clara       Bronze       Bronze   both
5257        WILLIAMS, Lauryn       Silver       Silver   both
5258        WILLIAMS, Lauryn       Silver         Gold   both

[70 rows x 4 columns]

In [12]:
right[right["_merge"]!="both"]

                         Athlete Medal_Winter Medal_Summer      _merge
0                  HAJOS, Alfred          NaN         Gold  right_only
1               HERSCHMANN, Otto          NaN       Silver  right_only
2              DRIVAS, Dimitrios          NaN       Bronze  right_only
3             MALOKINIS, Ioannis          NaN         Gold  right_only
4             CHASAPIS, Spiridon          NaN       Silver  right_only
...                          ...          ...          ...         ...
31195         JANIKOWSKI, Damian          NaN       Bronze  right_only
31196  REZAEI, Ghasem Gholamreza          NaN         Gold  right_only
31197             TOTROV, Rustam          NaN       Silver  right_only
31198          ALEKSANYAN, Artur          NaN       Bronze  right_only
31199             LIDBERG, Jimmy          NaN       Bronze  right_only

[31130 rows x 4 columns]