In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/olympic-games/dictionary.csv
/kaggle/input/olympic-games/winter.csv
/kaggle/input/olympic-games/summer.csv

# L24 - Using different columns names to join

![m](https://i.redd.it/dyqnzpuddxk21.png)

In [2]:
winter=pd.read_csv("../input/olympic-games/winter.csv",usecols=["Athlete","Medal"])

In [3]:
summer=pd.read_csv("../input/olympic-games/summer.csv",usecols=["Athlete","Medal"])

In [4]:
summer.rename(columns={"Athlete":"Name"},inplace=True)

In [5]:
summer

                            Name   Medal
0                  HAJOS, Alfred    Gold
1               HERSCHMANN, Otto  Silver
2              DRIVAS, Dimitrios  Bronze
3             MALOKINIS, Ioannis    Gold
4             CHASAPIS, Spiridon  Silver
...                          ...     ...
31160         JANIKOWSKI, Damian  Bronze
31161  REZAEI, Ghasem Gholamreza    Gold
31162             TOTROV, Rustam  Silver
31163          ALEKSANYAN, Artur  Bronze
31164             LIDBERG, Jimmy  Bronze

[31165 rows x 2 columns]

In [6]:
final=winter.merge(summer,how="outer",left_on="Athlete",right_on="Name",suffixes=("_Winter","_Summer"),indicator=True)

In [7]:
final["_merge"].value_counts().both

70

In [8]:
final[final["_merge"]=="both"]

,Athlete,Medal_Winter,Name,Medal_Summer,_merge
26,"ANDRE, Georges",Bronze,"ANDRE, Georges",Silver,both
27,"ANDRE, Georges",Bronze,"ANDRE, Georges",Bronze,both
48,"ANDERSON, William",Bronze,"ANDERSON, William",Bronze,both
78,"SYNNOTT, Francis Allen",Silver,"SYNNOTT, Francis Allen",Silver,both
80,"GRAFSTRÃ–M, Gillis",Gold,"GRAFSTRÃ–M, Gillis",Gold,both
...,...,...,...,...,...
4311,"IVANOV, Mikhail",Gold,"IVANOV, Mikhail",Gold,both
4312,"IVANOV, Mikhail",Gold,"IVANOV, Mikhail",Bronze,both
5156,"ZHANG, Hui",Gold,"ZHANG, Hui",Bronze,both
5416,"WILLIAMS, Lauryn",Silver,"WILLIAMS, Lauryn",Silver,both
5417,"WILLIAMS, Lauryn",Silver,"WILLIAMS, Lauryn",Gold,both

# Conclusion 
The Data looks quite dirty now. However, you can remove the unwanted column and use only the relevant ones. You can also treat the null values if wanted

# Using different columns / indexes to join

In [9]:
df1 = pd.DataFrame({'a':range(6),
                    'b':[5,3,6,9,2,4]}, index=list('abcdef'))

print (df1)

df2 = pd.DataFrame({'c':range(4),
                    'd':[10,20,30, 40]}, index=list('abhi'))

   a  b
a  0  5
b  1  3
c  2  6
d  3  9
e  4  2
f  5  4

In [10]:
df2

   c   d
a  0  10
b  1  20
h  2  30
i  3  40

In [11]:
df3 = pd.merge(df1, df2, left_index=True, right_index=True)

In [12]:
df3

   a  b  c   d
a  0  5  0  10
b  1  3  1  20