In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/olympic-games/dictionary.csv
/kaggle/input/olympic-games/winter.csv
/kaggle/input/olympic-games/summer.csv

# L25 - Joining using multiple columns

![m](https://i.redd.it/dyqnzpuddxk21.png)

In [2]:
winter=pd.read_csv("../input/olympic-games/winter.csv",usecols=["Athlete","Medal","Year","Sport"])

In [3]:
summer=pd.read_csv("../input/olympic-games/summer.csv",usecols=["Athlete","Medal","Year","Sport"])

In [4]:
final=winter.merge(summer,how="outer",on=["Athlete","Sport"],suffixes=("_Winter","_Summer"),indicator=True)

In [5]:
final

,Year_Winter,Sport,Athlete,Medal_Winter,Year_Summer,Medal_Summer,_merge
0,1924.0,Biathlon,"BERTHET, G.",Bronze,NaN,NaN,left_only
1,1924.0,Biathlon,"MANDRILLON, C.",Bronze,NaN,NaN,left_only
2,1924.0,Biathlon,"MANDRILLON, Maurice",Bronze,NaN,NaN,left_only
3,1924.0,Biathlon,"VANDELLE, Andr√©",Bronze,NaN,NaN,left_only
4,1924.0,Biathlon,"AUFDENBLATTEN, Adolf",Gold,NaN,NaN,left_only
...,...,...,...,...,...,...,...
36926,NaN,Wrestling,"JANIKOWSKI, Damian",NaN,2012.0,Bronze,right_only
36927,NaN,Wrestling,"REZAEI, Ghasem Gholamreza",NaN,2012.0,Gold,right_only
36928,NaN,Wrestling,"TOTROV, Rustam",NaN,2012.0,Silver,right_only
36929,NaN,Wrestling,"ALEKSANYAN, Artur",NaN,2012.0,Bronze,right_only
36930,NaN,Wrestling,"LIDBERG, Jimmy",NaN,2012.0,Bronze,right_only

In [6]:
final[final["_merge"]=="both"].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 77 to 98
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year_Winter   6 non-null      float64
 1   Sport         6 non-null      object
 2   Athlete       6 non-null      object
 3   Medal_Winter  6 non-null      object
 4   Year_Summer   6 non-null      float64
 5   Medal_Summer  6 non-null      object
 6   _merge        6 non-null      category
dtypes: category(1), float64(2), object(4)
memory usage: 474.0+ bytes

In [7]:
final1=winter.merge(summer,how="outer",on=["Athlete"],suffixes=("_Winter","_Summer"),indicator=True)

In [8]:
final1[final1["_merge"]=="both"].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70 entries, 26 to 5417
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year_Winter   70 non-null     float64
 1   Sport_Winter  70 non-null     object
 2   Athlete       70 non-null     object
 3   Medal_Winter  70 non-null     object
 4   Year_Summer   70 non-null     float64
 5   Sport_Summer  70 non-null     object
 6   Medal_Summer  70 non-null     object
 7   _merge        70 non-null     category
dtypes: category(1), float64(2), object(5)
memory usage: 4.6+ KB

In [9]:
final2=winter.merge(summer,how="outer",on=["Sport"],suffixes=("_Winter","_Summer"),indicator=True)

In [10]:
final2[final2["_merge"]=="both"].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74655 entries, 1044 to 75698
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year_Winter     74655 non-null  float64
 1   Sport           74655 non-null  object
 2   Athlete_Winter  74655 non-null  object
 3   Medal_Winter    74655 non-null  object
 4   Year_Summer     74655 non-null  float64
 5   Athlete_Summer  74655 non-null  object
 6   Medal_Summer    74655 non-null  object
 7   _merge          74655 non-null  category
dtypes: category(1), float64(2), object(5)
memory usage: 4.6+ MB

In [11]:
final2

,Year_Winter,Sport,Athlete_Winter,Medal_Winter,Year_Summer,Athlete_Summer,Medal_Summer,_merge
0,1924.0,Biathlon,"BERTHET, G.",Bronze,NaN,NaN,NaN,left_only
1,1924.0,Biathlon,"MANDRILLON, C.",Bronze,NaN,NaN,NaN,left_only
2,1924.0,Biathlon,"MANDRILLON, Maurice",Bronze,NaN,NaN,NaN,left_only
3,1924.0,Biathlon,"VANDELLE, Andr√©",Bronze,NaN,NaN,NaN,left_only
4,1924.0,Biathlon,"AUFDENBLATTEN, Adolf",Gold,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...
108766,NaN,Canoe,NaN,NaN,2012.0,"WEBER, Franziska",Silver,right_only
108767,NaN,Canoe,NaN,NaN,2012.0,"KHUDZENKA, Volha",Bronze,right_only
108768,NaN,Canoe,NaN,NaN,2012.0,"PAMIALOVA, Iryna",Bronze,right_only
108769,NaN,Canoe,NaN,NaN,2012.0,"PAPOK, Nadzeya",Bronze,right_only
108770,NaN,Canoe,NaN,NaN,2012.0,"PAUTARAN, Maryna",Bronze,right_only

In [12]:
final2.isnull().sum()

Year_Winter       31111
Sport                 0
Athlete_Winter    31111
Medal_Winter      31111
Year_Summer        3005
Athlete_Summer     3005
Medal_Summer       3005
_merge                0
dtype: int64