# Introduction 

Hi Folks,
We are starting the Full DataFlow Journey in which we are covering everything like ​​Importing Data, Cleaning Data, Merging, Joining, and Concatenating Data, GroupBy Operations, Reshaping and Pivoting DataFrames, Data Preparation and Feature Creation, etc.<br><br>

### Lecture Agenda
In this particular lecture we are going to learn how to read Excel files using pd.read_excel and clean it using pandas only


#### Technologies Used
Python, Pandas


### Data Used
Covid-19 Excel Dataset with Interactive Dashboard
This data contains state wise analysis of the covid data

### Getting Started

1. What is an Excel File?
Add data files from kaggle <br>
Excel is a spreadsheet program from Microsoft and a component of its Office product group for business applications. Microsoft Excel enables users to format, organize and calculate data in a spreadsheet.

2. Why to clean Excel files?
To get appropriate results, the data we are using has to be accurate. If, the data is not accurate it might result in wrong finding. So it is suggested to clean the data using different methods.

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/covid19-excel-dataset-with-interactive-dashboard/Covid Dashboard.xlsx

In order to open Excel file we need openpyxl module to be installed in the environment

In [2]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 5.0 MB/s
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [3]:
#running again the same command after intalling the dependency module
df=pd.read_excel("../input/covid19-excel-dataset-with-interactive-dashboard/Covid Dashboard.xlsx")

In [4]:
df.head()

,State/UTs,Zone,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Discharge Avg,Death Ratio,Death Avg,Population
0,Andaman and Nicobar,South,7670,7,7534,129,0.09,98.23,Below Average,1.68,Above Average,399001
1,Andhra Pradesh,South,2069770,3128,2052230,14412,0.15,99.15,Above Average,0.70,Below Average,91702478
2,Arunachal Pradesh,East,55216,42,54894,280,0.08,99.42,Above Average,0.51,Below Average,1711947
3,Assam,East,613784,3272,604465,6047,0.53,98.48,Above Average,0.99,Below Average,35998752
4,Bihar,East,726153,29,716462,9662,0.00,98.67,Above Average,1.33,Above Average,128500364

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   State/UTs        36 non-null     object
 1   Zone             36 non-null     object
 2   Total Cases      36 non-null     int64
 3   Active           36 non-null     int64
 4   Discharged       36 non-null     int64
 5   Deaths           36 non-null     int64
 6   Active Ratio     36 non-null     float64
 7   Discharge Ratio  36 non-null     float64
 8   Discharge Avg    36 non-null     object
 9   Death Ratio      36 non-null     float64
 10  Death Avg        36 non-null     object
 11  Population       36 non-null     int64
dtypes: float64(3), int64(5), object(4)
memory usage: 3.5+ KB

In [6]:
df.isnull().sum()

State/UTs          0
Zone               0
Total Cases        0
Active             0
Discharged         0
Deaths             0
Active Ratio       0
Discharge Ratio    0
Discharge Avg      0
Death Ratio        0
Death Avg          0
Population         0
dtype: int64

In [7]:
df.describe()

,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
count,3.600000e+01,36.00000,3.600000e+01,36.000000,36.000000,36.000000,36.000000,3.600000e+01
mean,9.565919e+05,3775.50000,9.399405e+05,12875.833333,0.363889,98.358056,1.277778,3.971861e+07
std,1.432317e+06,11756.13309,1.402230e+06,24364.269113,0.747557,0.791010,0.561773,5.050913e+07
min,7.670000e+03,0.00000,7.534000e+03,4.000000,0.000000,95.250000,0.040000,6.600100e+04
25%,8.450200e+04,109.50000,8.336750e+04,819.250000,0.030000,97.952500,0.955000,1.695473e+06
50%,4.758850e+05,246.50000,4.648010e+05,5592.500000,0.150000,98.420000,1.315000,2.410088e+07
75%,1.016047e+06,2682.50000,1.002956e+06,13794.000000,0.445000,98.720000,1.590000,6.979986e+07
max,6.623344e+06,69258.00000,6.466913e+06,140565.000000,4.390000,99.960000,2.750000,2.315026e+08