# Introduction 

Hi Folks,
We are starting the Full DataFlow Journey in which we are covering everything like ​​Importing Data, Cleaning Data, Merging, Joining, and Concatenating Data, GroupBy Operations, Reshaping and Pivoting DataFrames, Data Preparation and Feature Creation, etc.<br><br>

### Lecture Agenda
In this particular lecture we are going to learn what are the initial steps which needs to be taken in order to get an initial idea of the data

#### Technologies Used
Python, Pandas


### Data Used
Data Professionals Salary - 2022
Salaries of Data Scientists, ML Engineers, Data Analysts, Data Engineers in 2022

### Getting Started

1. What ar the initial steps which can be taken?
Their are many steps which can be taken in order to inspect the data but it depends on the user how deeply they wwant to study the data. In this notebook we are going to perform some basic operations which needs to be performed to inspect the given data

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/analytics-industry-salaries-2022-india/info.txt
/kaggle/input/analytics-industry-salaries-2022-india/Salary Dataset.csv
/kaggle/input/shark-tank-india-dataset/Shark Tank India Dataset.csv

In [2]:
df=pd.read_csv("../input/analytics-industry-salaries-2022-india/Salary Dataset.csv")

In [3]:
df

,Company Name,Job Title,Salaries Reported,Location,Salary
0,Mu Sigma,Data Scientist,105.0,Bangalore,"₹6,48,573/yr"
1,IBM,Data Scientist,95.0,Bangalore,"₹11,91,950/yr"
2,Tata Consultancy Services,Data Scientist,66.0,Bangalore,"₹8,36,874/yr"
3,Impact Analytics,Data Scientist,40.0,Bangalore,"₹6,69,578/yr"
4,Accenture,Data Scientist,32.0,Bangalore,"₹9,44,110/yr"
...,...,...,...,...,...
4339,TaiyōAI,Machine Learning Scientist,1.0,Mumbai,"₹5,180/mo"
4340,Decimal Point Analytics,Machine Learning Developer,1.0,Mumbai,"₹7,51,286/yr"
4341,MyWays,Machine Learning Developer,1.0,Mumbai,"₹4,10,952/yr"
4342,Market Pulse Technologies,Software Engineer - Machine Learning,1.0,Mumbai,"₹16,12,324/yr"
4343,vPhrase,Machine Learning Engineer,1.0,Mumbai,"₹9,39,843/yr"

## Checking the head of the data .head()

In [4]:
df.head()

,Company Name,Job Title,Salaries Reported,Location,Salary
0,Mu Sigma,Data Scientist,105.0,Bangalore,"₹6,48,573/yr"
1,IBM,Data Scientist,95.0,Bangalore,"₹11,91,950/yr"
2,Tata Consultancy Services,Data Scientist,66.0,Bangalore,"₹8,36,874/yr"
3,Impact Analytics,Data Scientist,40.0,Bangalore,"₹6,69,578/yr"
4,Accenture,Data Scientist,32.0,Bangalore,"₹9,44,110/yr"

## Checking the tail of the data .tail()

In [5]:
df.tail()

,Company Name,Job Title,Salaries Reported,Location,Salary
4339,TaiyōAI,Machine Learning Scientist,1.0,Mumbai,"₹5,180/mo"
4340,Decimal Point Analytics,Machine Learning Developer,1.0,Mumbai,"₹7,51,286/yr"
4341,MyWays,Machine Learning Developer,1.0,Mumbai,"₹4,10,952/yr"
4342,Market Pulse Technologies,Software Engineer - Machine Learning,1.0,Mumbai,"₹16,12,324/yr"
4343,vPhrase,Machine Learning Engineer,1.0,Mumbai,"₹9,39,843/yr"

## Checking the tail of the data .info()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4344 entries, 0 to 4343
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company Name       4341 non-null   object
 1   Job Title          4344 non-null   object
 2   Salaries Reported  4342 non-null   float64
 3   Location           4344 non-null   object
 4   Salary             4344 non-null   object
dtypes: float64(1), object(4)
memory usage: 169.8+ KB

Note: Using pd.info() method we now have some details regarding the dataset. Like we have the columns types, we have the count of column types, we have range index, we have memory used, etc.

## Checking the stats of the data .describe()

In [7]:
df.describe()

       Salaries Reported
count        4342.000000
mean            2.775910
std             5.146527
min             1.000000
25%             1.000000
50%             1.000000
75%             3.000000
max           105.000000

Note: the describe method is only showing the stats of numerical type column, we can also use the same method for non numberical type column but with a different style

## Checking the stats of the non-numerical data .describe()

In [8]:
df.columns

Index(['Company Name', 'Job Title', 'Salaries Reported', 'Location', 'Salary'], dtype='object')

In [9]:
df[['Company Name', 'Job Title','Location', 'Salary']].describe()

                     Company Name       Job Title   Location         Salary
count                        4341            4344       4344           4344
unique                       2529              26          5           3101
top     Tata Consultancy Services  Data Scientist  Bangalore  ₹12,00,000/yr
freq                           41            1844       1584             24

In [10]:
df[['Salary']].describe()

               Salary
count            4344
unique           3101
top     ₹12,00,000/yr
freq               24

In [11]:
df[['Company Name']].describe()

                     Company Name
count                        4341
unique                       2529
top     Tata Consultancy Services
freq                           41

## Checking the unique values of the data .unique()

In [12]:
df.Location.unique()

array(['Bangalore', 'Pune', 'Hyderabad', 'New Delhi', 'Mumbai'],
      dtype=object)

## Checking the count of unique values of the data .value_counts()

In [13]:
df.Location.value_counts()

Bangalore    1584
Pune          818
Hyderabad     669
New Delhi     656
Mumbai        617
Name: Location, dtype: int64

## Replacing the values using .replace()

In [14]:
df.Location.replace(to_replace=["New Delhi"],value=["Gurugram"],inplace=True)

In [15]:
df.Location.unique()

array(['Bangalore', 'Pune', 'Hyderabad', 'Gurugram', 'Mumbai'],
      dtype=object)

# Performing all the initial inspections on Shark tank Dataset

### Reading the csv data using read_csv()

### Checking the head of the data .head()

### Checking the tail of the data .tail()

### Checking the tail of the data .info()

### Checking the stats of the data .describe()

### Checking the stats of the non-numerical data .describe()

### Checking the unique values of the data .unique()

### Checking the count of unique values of the data .value_counts()

### Replacing the values using .replace()

In [16]:
shark=pd.read_csv("../input/shark-tank-india-dataset/Shark Tank India Dataset.csv")

In [17]:
shark.head()

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000

In [18]:
shark.tail()

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
112,34,113,Green Protein,Plant-Based Protein,0,60.0,2.0,3000.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
113,34,114,On2Cook,Fastest Cooking Device,0,100.0,1.0,10000.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
114,35,115,Jain Shikanji,Lemonade,1,40.0,8.0,500.0,40.0,30.0,...,1,1,1,0,1,0,0,4,10.0,7.5
115,35,116,Woloo,Washroom Finder,0,50.0,4.0,1250.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
116,35,117,Elcare India,Carenting for Elders,0,100.0,2.5,4000.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0

In [19]:
shark.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   episode_number         117 non-null    int64
 1   pitch_number           117 non-null    int64
 2   brand_name             117 non-null    object
 3   idea                   117 non-null    object
 4   deal                   117 non-null    int64
 5   pitcher_ask_amount     117 non-null    float64
 6   ask_equity             117 non-null    float64
 7   ask_valuation          117 non-null    float64
 8   deal_amount            117 non-null    float64
 9   deal_equity            117 non-null    float64
 10  deal_valuation         117 non-null    float64
 11  ashneer_present        117 non-null    int64
 12  anupam_present         117 non-null    int64
 13  aman_present           117 non-null    int64
 14  namita_present         117 non-null    int64
 15  vineeta_present        117 non-null    int64
 16  peyush_present         117 non-null    int64
 17  ghazal_present         117 non-null    int64
 18  ashneer_deal           117 non-null    int64
 19  anupam_deal            117 non-null    int64
 20  aman_deal              117 non-null    int64
 21  namita_deal            117 non-null    int64
 22  vineeta_deal           117 non-null    int64
 23  peyush_deal            117 non-null    int64
 24  ghazal_deal            117 non-null    int64
 25  total_sharks_invested  117 non-null    int64
 26  amount_per_shark       117 non-null    float64
 27  equity_per_shark       117 non-null    float64
dtypes: float64(8), int64(18), object(2)
memory usage: 25.7+ KB

In [20]:
shark.describe()

,episode_number,pitch_number,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,deal_valuation,ashneer_present,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
count,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,...,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000
mean,18.735043,59.000000,0.555556,319.854709,5.188034,3852.462479,31.982915,8.963504,467.104872,0.837607,...,0.179487,0.205128,0.239316,0.188034,0.128205,0.230769,0.059829,1.230769,18.132481,5.583590
std,10.070778,33.919021,0.499041,2767.842777,3.892121,11931.601957,36.687391,13.106769,919.988864,0.370397,...,0.385410,0.405532,0.428501,0.392420,0.335756,0.423137,0.238190,1.410457,23.588682,10.803799
min,1.000000,1.000000,0.000000,0.001010,0.250000,0.010000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,30.000000,0.000000,45.000000,2.500000,666.670000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,19.000000,59.000000,1.000000,50.000000,5.000000,1250.000000,25.000000,3.000000,100.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,10.000000,1.250000
75%,27.000000,88.000000,1.000000,80.000000,7.500000,2857.140000,50.000000,15.000000,500.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,25.000000,6.000000
max,35.000000,117.000000,1.000000,30000.000000,25.000000,120000.000000,150.000000,75.000000,6666.670000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,100.000000,75.000000

In [21]:
shark[["idea","brand_name"]].describe()

                idea           brand_name
count            117                  117
unique           117                  117
top     Frozen Momos  BluePine Industries
freq               1                    1

In [22]:
shark["idea"].unique()

array(['Frozen Momos', 'Renting e-bike for mobility in private spaces',
       'Detachable Sleeves', 'Healthy Potato Chips',
       'Brain Development Course', 'Tourism', 'Food Freshness Detector',
       'Disposable Urine Bag', 'Energy Drink', 'Intelligent Skincare',
       'Pickle', 'Underwear', 'E-Bike',
       'Restaurant serving 80 types of Maggi', 'Belly Button Shaper',
       'Ice-Pops', 'Menstrual Awareness Comic',
       'Pollution Resistant Fabric', 'Child Development App',
       'Gadgets for visually impaired people',
       'Kheer in variety of flavors', 'Kerala Banana Chips',
       'Prickless Diabetes Testing Machine', 'Smart Electric Motorcycle',
       'Smart Helmets', 'Wooden Toys', 'Healthy Oils',
       'Male Intimate Hygiene', 'Eggs', 'Student Community App',
       'Fiber Ice Cream', 'Wall Building', 'Customised Streetwear',
       'Ayurvedic Products', 'Indian Sweets', 'Metaverse App',
       'Braille Literary Device', 'Eco-Friendly boxes',
       'Yarn-Trading App', 'Home Dialysis Treatment',
       'Healthy Food Snacks', 'Digital Piggy Bank',
       'Smart Audio Products', 'Robotics and Automation Solutions',
       'Coconut based beverage franchise', 'Bamboo Products',
       'Dog Hygiene', 'Liquid Water Enhancer', 'Healthy Snacks',
       'Sneaker Resale', 'EdTech App', 'Premium Surprise-Planning',
       'Pothole Detection Software and Data', 'Thin Crust Pizza',
       'Hemp Food Products', 'Electric Auto Vehicle', 'Funeral Service',
       'Leather-free Shoes', 'Livestock health monitoring AI',
       'Customised Keto Diets for various medical issues',
       'LPG Cylinder lock', 'Delicacies', 'Comics & Animation',
       'Can Cocktails', 'Sugar-Free Icecream', 'Inventions',
       'Customised Apparels', 'Natural Hair Extensions',
       'Toilet Spray with Essential Oils', 'Meads', 'Fresh Fruits',
       'Ayurvedic Enriched Food', 'Streetwear', 'Motorcycle Luggage',
       'Bags', 'Gifts', 'Agricultural Innovations', 'Homemade Foods',
       'Dog Products', 'Portable ECG Device', 'Roasted Peanut Products',
       'Perfumes', 'Automatic Cradle', 'Handicrafts', 'Coffee Products',
       'Ventilated PPE Kits', 'Automation Solutions',
       'Insurance Solutions', 'Organic Milk Products', 'Kunafa',
       'Anti-Suicidal Fan Rod', 'Jackfruit Products',
       'Stainless Steel Items', 'Streaming Platform',
       'Portable Glass Attachment', 'All-Kabaddi App', 'Flowers',
       'Scholarship Platform', 'Handmade Reusable Scrap Materials',
       'Vegetables Storage', 'Ayurvedic Wellness App', 'Smart Locks',
       'Proposal Solutions', 'Technology layered Advertisement Services',
       'Rewards App', 'Portable opthalmic devices', 'Insoles',
       'Vegan Fermented Food', 'Sportswear', 'VR', 'Bacon Jams',
       'Reversible and convertible clothing', 'Plant-Based Protein',
       'Fastest Cooking Device', 'Lemonade', 'Washroom Finder',
       'Carenting for Elders'], dtype=object)

In [23]:
shark.idea.value_counts()

Frozen Momos             1
Bags                     1
Automation Solutions     1
Ventilated PPE Kits      1
Coffee Products          1
                        ..
Metaverse App            1
Indian Sweets            1
Ayurvedic Products       1
Customised Streetwear    1
Carenting for Elders     1
Name: idea, Length: 117, dtype: int64

In [24]:
shark.idea.value_counts().max()

1

In [25]:
shark.replace(to_replace=["idea"],value=["The_Idea"],inplace=True)

In [26]:
shark.head()

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000

In [27]:
shark.idea.replace(to_replace=["Frozen Momos"],value=["Momo Mami"],inplace=True)

In [28]:
shark.head()

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Momo Mami,1,50.0,5.0,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000