<a href="https://www.kaggle.com/shivavashishtha/l8-changing-datatype-of-columns-with-astype?scriptVersionId=89741421" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/big-bang-theory-all-seasons-dataset/dataset.csv

# Creating a Dataframe

In [2]:
empoyees = [('jack', 34, 'Sydney', 155) ,
        ('Riti', 31, 'Delhi' , 177) ,
        ('Aadi', 16, 'Mumbai', 81) ,
        ('Mohit', 31,'Delhi' , 167) ,
        ('Veena', 12, 'Delhi' , 144) ,
        ('Shaunak', 35, 'Mumbai', 135 ),
        ('Shaun', 35, 'Colombo', 111)
        ]
# Create a DataFrame object
df = pd.DataFrame(empoyees, columns=['Name', 'Age', 'City', 'Marks'])
print(df)

      Name  Age     City  Marks
0     jack   34   Sydney    155
1     Riti   31    Delhi    177
2     Aadi   16   Mumbai     81
3    Mohit   31    Delhi    167
4    Veena   12    Delhi    144
5  Shaunak   35   Mumbai    135
6    Shaun   35  Colombo    111

# Checking the datatypes of Dataframe

In [3]:
print(df.dtypes)

Name     object
Age       int64
City     object
Marks     int64
dtype: object

# Changing datatype from int to float

In [4]:
# Change data type of column 'Marks' from int64 to float64
df['Marks'] = df['Marks'].astype('float64')

# Changing datatype from int to Object(string)

In [5]:
df['Age'] = df['Age'].astype('object')

# Checking the datatypes of Dataframe after typecasting

In [6]:
df.dtypes

Name      object
Age       object
City      object
Marks    float64
dtype: object

# Importing Big Bang Theory Dataset

In [7]:
df2=pd.read_csv("../input/big-bang-theory-all-seasons-dataset/dataset.csv")

# Cheking info( )

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              279 non-null    int64
 1   No.overall              279 non-null    int64
 2   No. inseason            279 non-null    int64
 3   Title                   279 non-null    object
 4   Directed by             279 non-null    object
 5   Written by              279 non-null    object
 6   Original air date       279 non-null    object
 7   Prod.code               279 non-null    object
 8   U.S. viewers(millions)  279 non-null    float64
 9   Season                  279 non-null    int64
dtypes: float64(1), int64(4), object(5)
memory usage: 21.9+ KB

# Changing type of one series from int to object(string)

In [9]:
df2["Season"]=df2["Season"].astype("object")

# Checking info again to check the type

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              279 non-null    int64
 1   No.overall              279 non-null    int64
 2   No. inseason            279 non-null    int64
 3   Title                   279 non-null    object
 4   Directed by             279 non-null    object
 5   Written by              279 non-null    object
 6   Original air date       279 non-null    object
 7   Prod.code               279 non-null    object
 8   U.S. viewers(millions)  279 non-null    float64
 9   Season                  279 non-null    object
dtypes: float64(1), int64(3), object(6)
memory usage: 21.9+ KB

In [11]:
df2.columns

Index(['Unnamed: 0', 'No.overall', 'No. inseason', 'Title', 'Directed by',
       'Written by', 'Original air date', 'Prod.code',
       'U.S. viewers(millions)', 'Season'],
      dtype='object')

# Changing type of one series from int to object(string)

In [12]:
df2["U.S. viewers(millions)"]=df2["U.S. viewers(millions)"].astype("object")

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              279 non-null    int64
 1   No.overall              279 non-null    int64
 2   No. inseason            279 non-null    int64
 3   Title                   279 non-null    object
 4   Directed by             279 non-null    object
 5   Written by              279 non-null    object
 6   Original air date       279 non-null    object
 7   Prod.code               279 non-null    object
 8   U.S. viewers(millions)  279 non-null    object
 9   Season                  279 non-null    object
dtypes: int64(3), object(7)
memory usage: 21.9+ KB